/* Components */

width: 1196px;
height: 668px;

/* TV Compose/black */
background: #000000;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Content */

position: absolute;
width: 120px;
height: 20px;
left: 64px;
top: 88px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: 0.1px;

/* TV Compose/ref/neutral/neutral100 */
color: #FFFFFF;



/* Content + Button */

position: absolute;
width: 120px;
height: 20px;
left: 64px;
top: 370px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: 0.1px;

/* TV Compose/ref/neutral/neutral100 */
color: #FFFFFF;



/* Content + button block */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 24px;

position: absolute;
width: 916px;
height: 244px;
left: 216px;
top: 346px;

/* TV Compose/ref/neutral/neutral10

token=md.ref.palette.neutral10
*/
background: #1F1F1F;
border-radius: 16px;


/* Size=L */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 484px;
height: 196px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 484px;
height: 128px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 484px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Overline */

width: 484px;
height: 16px;

/* TV Compose/label/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

width: 484px;
height: 40px;

/* TV Compose/headline/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Description */

width: 484px;
height: 48px;

/* TV Compose/body/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;

mix-blend-mode: normal;
opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* .slot */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 8px;

display: none;
width: 484px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 14.4px 9px 10.8px;
gap: 6.6px;
isolation: isolate;

width: 98.6px;
height: 40px;

border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background */

position: absolute;
left: -2.4px;
right: -3.2px;
top: -2px;
bottom: -2px;

/* TV Compose/sys/dark/inverse-surface

Tv compose/sys/dark/inverse-surface
*/
background: #E3E3E3;
border-radius: 44px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon

Play, arrow,  control, controls, music, video
*/

width: 19.8px;
height: 19.8px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 16.67%;
top: 12.5%;
bottom: 12.5%;

/* TV Compose/sys/dark/inverse-on-surface

Tv compose/sys/dark/inverse-on-surface
*/
background: #303030;


/* Label */

width: 47px;
height: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15.4px;
line-height: 22px;
/* identical to box height, or 143% */
text-align: center;
letter-spacing: 0.11px;

/* TV Compose/sys/dark/inverse-on-surface */
color: #303030;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Size=M */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 360px;
height: 172px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 360px;
height: 104px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 360px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Overline */

width: 360px;
height: 16px;

/* TV Compose/label/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

width: 360px;
height: 32px;

/* TV Compose/headline/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Description */

width: 360px;
height: 40px;

/* TV Compose/body/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;

mix-blend-mode: normal;
opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* .slot */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 8px;

display: none;
width: 360px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 14.4px 9px 10.8px;
gap: 6.6px;
isolation: isolate;

width: 98.6px;
height: 40px;

border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background */

position: absolute;
left: -2.4px;
right: -3.2px;
top: -2px;
bottom: -2px;

/* TV Compose/sys/dark/inverse-surface

Tv compose/sys/dark/inverse-surface
*/
background: #E3E3E3;
border-radius: 44px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon

Play, arrow,  control, controls, music, video
*/

width: 19.8px;
height: 19.8px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 16.67%;
top: 12.5%;
bottom: 12.5%;

/* TV Compose/sys/dark/inverse-on-surface

Tv compose/sys/dark/inverse-on-surface
*/
background: #303030;


/* Label */

width: 47px;
height: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15.4px;
line-height: 22px;
/* identical to box height, or 143% */
text-align: center;
letter-spacing: 0.11px;

/* TV Compose/sys/dark/inverse-on-surface */
color: #303030;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Content block */

position: absolute;
width: 684px;
height: 250px;
left: 216px;
top: 64px;

/* TV Compose/ref/neutral/neutral10

token=md.ref.palette.neutral10
*/
background: #1F1F1F;
border-radius: 16px;


/* Alignment=Left, Size=S */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 196px;
height: 40px;
left: 24px;
top: 24px;



/* Heading */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 196px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

width: 196px;
height: 24px;

/* TV Compose/title/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.15px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Subtitle */

width: 196px;
height: 16px;

/* TV Compose/body/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.2px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Description */

display: none;
width: 196px;
height: 48px;

/* TV Compose/body/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* or 133% */
letter-spacing: 0.2px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Extra */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

display: none;
width: 196px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Tag */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 4px;
isolation: isolate;

width: 44px;
height: 20px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #444746;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon */

display: none;
width: 10px;
height: 10px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;


/* label */

width: 28px;
height: 16px;

/* TV Compose/label/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 145% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Subtitle */

width: 90px;
height: 16px;

/* TV Compose/body/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.2px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Alignment=Left, Size=M */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 196px;
height: 50px;
left: 24px;
top: 88px;



/* Heading */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 196px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

width: 196px;
height: 28px;

/* TV Compose/title/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 127% */
display: flex;
align-items: center;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Subtitle */

width: 196px;
height: 20px;

/* TV Compose/body/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Description */

display: none;
width: 196px;
height: 80px;

/* TV Compose/body/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Extra */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

display: none;
width: 196px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Tag */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 4px;
isolation: isolate;

width: 47px;
height: 20px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #444746;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon */

display: none;
width: 10px;
height: 10px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;


/* label */

width: 31px;
height: 16px;

/* TV Compose/label/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Subtitle */

width: 105px;
height: 20px;

/* TV Compose/body/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Alignment=Left, Size=L */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 196px;
height: 64px;
left: 24px;
top: 162px;



/* Heading */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 196px;
height: 64px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

width: 196px;
height: 36px;

/* TV Compose/headline/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;
/* identical to box height, or 129% */
display: flex;
align-items: center;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Subtitle */

width: 196px;
height: 24px;

/* TV Compose/body/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Description */

display: none;
width: 196px;
height: 96px;

/* TV Compose/body/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Extra */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

display: none;
width: 196px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Tag */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 4px;
isolation: isolate;

width: 51px;
height: 24px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
border: 1px solid #444746;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon */

display: none;
width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;


/* label */

width: 35px;
height: 20px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Subtitle */

width: 120px;
height: 24px;

/* TV Compose/body/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Alignment=Center, Size=S */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 196px;
height: 40px;
left: 244px;
top: 24px;



/* Heading */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 196px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

width: 196px;
height: 24px;

/* TV Compose/title/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.15px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Subtitle */

width: 196px;
height: 16px;

/* TV Compose/body/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.2px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Description */

display: none;
width: 196px;
height: 48px;

/* TV Compose/body/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* or 133% */
text-align: center;
letter-spacing: 0.2px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Extra */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

display: none;
width: 196px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Tag */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 4px;
isolation: isolate;

width: 44px;
height: 20px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #444746;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon */

display: none;
width: 10px;
height: 10px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;


/* label */

width: 28px;
height: 16px;

/* TV Compose/label/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 145% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Subtitle */

width: 90px;
height: 16px;

/* TV Compose/body/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.2px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Alignment=Center, Size=M */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;

position: absolute;
width: 196px;
height: 50px;
left: 244px;
top: 88px;



/* Heading */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 2px;

width: 196px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

width: 196px;
height: 28px;

/* TV Compose/title/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 127% */
display: flex;
align-items: center;
text-align: center;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Subtitle */

width: 196px;
height: 20px;

/* TV Compose/body/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Description */

display: none;
width: 196px;
height: 80px;

/* TV Compose/body/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
text-align: center;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Extra */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

display: none;
width: 196px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Tag */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 4px;
isolation: isolate;

width: 47px;
height: 20px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #444746;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon */

display: none;
width: 10px;
height: 10px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;


/* label */

width: 31px;
height: 16px;

/* TV Compose/label/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Subtitle */

width: 105px;
height: 20px;

/* TV Compose/body/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Alignment=Center, Size=L */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
width: 196px;
height: 64px;
left: 244px;
top: 162px;



/* Heading */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 4px;

width: 196px;
height: 64px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

width: 196px;
height: 36px;

/* TV Compose/headline/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;
/* identical to box height, or 129% */
display: flex;
align-items: center;
text-align: center;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Subtitle */

width: 196px;
height: 24px;

/* TV Compose/body/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Description */

display: none;
width: 196px;
height: 96px;

/* TV Compose/body/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
text-align: center;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Extra */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

display: none;
width: 196px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Tag */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 4px;
isolation: isolate;

width: 51px;
height: 24px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
border: 1px solid #444746;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon */

display: none;
width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;


/* label */

width: 35px;
height: 20px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Subtitle */

width: 120px;
height: 24px;

/* TV Compose/body/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Alignment=Right, Size=S */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 8px;

position: absolute;
width: 196px;
height: 40px;
left: 464px;
top: 24px;



/* Heading */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

width: 196px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

width: 196px;
height: 24px;

/* TV Compose/title/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.15px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Subtitle */

width: 196px;
height: 16px;

/* TV Compose/body/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.2px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Description */

display: none;
width: 196px;
height: 48px;

/* TV Compose/body/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* or 133% */
text-align: right;
letter-spacing: 0.2px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Extra */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 8px;

display: none;
width: 196px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Subtitle */

width: 90px;
height: 16px;

/* TV Compose/body/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.2px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Tag */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 4px;
isolation: isolate;

width: 44px;
height: 20px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #444746;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon */

display: none;
width: 10px;
height: 10px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;


/* label */

width: 28px;
height: 16px;

/* TV Compose/label/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 145% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Alignment=Right, Size=M */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 12px;

position: absolute;
width: 196px;
height: 50px;
left: 464px;
top: 88px;



/* Heading */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 2px;

width: 196px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

width: 196px;
height: 28px;

/* TV Compose/title/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 127% */
display: flex;
align-items: center;
text-align: right;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Subtitle */

width: 196px;
height: 20px;

/* TV Compose/body/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Description */

display: none;
width: 196px;
height: 80px;

/* TV Compose/body/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
text-align: right;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Extra */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 8px;

display: none;
width: 196px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Subtitle */

width: 105px;
height: 20px;

/* TV Compose/body/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Tag */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 4px;
isolation: isolate;

width: 47px;
height: 20px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #444746;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon */

display: none;
width: 10px;
height: 10px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;


/* label */

width: 31px;
height: 16px;

/* TV Compose/label/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Alignment=Right, Size=L */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 16px;

position: absolute;
width: 196px;
height: 64px;
left: 464px;
top: 162px;



/* Heading */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 196px;
height: 64px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

width: 196px;
height: 36px;

/* TV Compose/headline/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;
/* identical to box height, or 129% */
display: flex;
align-items: center;
text-align: right;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Subtitle */

width: 196px;
height: 24px;

/* TV Compose/body/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Description */

display: none;
width: 196px;
height: 96px;

/* TV Compose/body/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
text-align: right;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Extra */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 8px;

display: none;
width: 196px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Subtitle */

width: 120px;
height: 24px;

/* TV Compose/body/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.25px;

/* TV Compose/sys/dark/on-surface */
color: #E3E3E3;

opacity: 0.6;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Tag */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 4px;
isolation: isolate;

width: 51px;
height: 24px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
border: 1px solid #444746;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon */

display: none;
width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;


/* label */

width: 35px;
height: 20px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;
