/* Components */

width: 616px;
height: 668px;

/* TV Compose/black */
background: #000000;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Progress bar */

position: absolute;
width: 120px;
height: 20px;
left: 64px;
top: 312px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: 0.1px;

/* TV Compose/ref/neutral/neutral100 */
color: #FFFFFF;



/* Icon frame */

position: absolute;
width: 120px;
height: 20px;
left: 64px;
top: 439px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: 0.1px;

/* TV Compose/ref/neutral/neutral100 */
color: #FFFFFF;



/* Scrim */

position: absolute;
width: 120px;
height: 20px;
left: 64px;
top: 565px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: 0.1px;

/* TV Compose/ref/neutral/neutral100 */
color: #FFFFFF;



/* It’s actually there */

position: absolute;
width: 120px;
height: 16px;
left: 64px;
top: 585px;

/* TV Compose/body/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.2px;

/* TV Compose/ref/neutral/neutral100 */
color: #FFFFFF;

opacity: 0.1;


/* Tags */

position: absolute;
width: 120px;
height: 20px;
left: 64px;
top: 82px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: 0.1px;

/* TV Compose/ref/neutral/neutral100 */
color: #FFFFFF;



/* Pagination */

position: absolute;
width: 120px;
height: 20px;
left: 64px;
top: 168px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: 0.1px;

/* TV Compose/ref/neutral/neutral100 */
color: #FFFFFF;



/* Tag */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 16px;

position: absolute;
width: 270px;
height: 56px;
left: 216px;
top: 64px;

/* TV Compose/ref/neutral/neutral10

token=md.ref.palette.neutral10
*/
background: #1F1F1F;
border-radius: 16px;


/* Size=Default, Outline=False */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 4px;
isolation: isolate;

width: 44px;
height: 20px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #444746;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon */

display: none;
width: 10px;
height: 10px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;


/* label */

width: 28px;
height: 16px;

/* TV Compose/label/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 145% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Size=Large, Outline=False */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 4px;
isolation: isolate;

width: 51px;
height: 24px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #444746;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon */

display: none;
width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;


/* label */

width: 35px;
height: 20px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Size=Default, Outline=True */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 4px;
isolation: isolate;

width: 44px;
height: 20px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Background */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
border: 1px solid #444746;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon */

display: none;
width: 10px;
height: 10px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;


/* label */

width: 28px;
height: 16px;

/* TV Compose/label/small */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 145% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Size=Large, Outline=True */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 4px;
isolation: isolate;

width: 51px;
height: 24px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Background */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
border: 1px solid #444746;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon */

display: none;
width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;


/* label */

width: 35px;
height: 20px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* TV Compose/sys/dark/on-surface-variant */
color: #C4C7C5;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Pagination */

position: absolute;
width: 296px;
height: 112px;
left: 216px;
top: 152px;

/* TV Compose/ref/neutral/neutral10

token=md.ref.palette.neutral10
*/
background: #1F1F1F;
border-radius: 16px;


/* Active=1 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
isolation: isolate;

position: absolute;
width: 120px;
height: 8px;
left: 16px;
top: 16px;



/* Background */

position: absolute;
display: none;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/black */
background: #000000;
opacity: 0.2;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;
z-index: 6;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;
z-index: 7;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;
z-index: 8;


/* Active=2 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
isolation: isolate;

position: absolute;
width: 120px;
height: 8px;
left: 16px;
top: 40px;



/* Background */

position: absolute;
display: none;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/black */
background: #000000;
opacity: 0.2;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;
z-index: 6;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;
z-index: 7;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;
z-index: 8;


/* Active=3 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
isolation: isolate;

position: absolute;
width: 120px;
height: 8px;
left: 16px;
top: 64px;



/* Background */

position: absolute;
display: none;
width: 120px;
height: 8px;
left: 0px;
top: 0px;

/* TV Compose/black */
background: #000000;
opacity: 0.2;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;
z-index: 6;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;
z-index: 7;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;
z-index: 8;


/* Active=4 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
isolation: isolate;

position: absolute;
width: 120px;
height: 8px;
left: 16px;
top: 88px;



/* Background */

position: absolute;
display: none;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/black */
background: #000000;
opacity: 0.2;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;
z-index: 6;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;
z-index: 7;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;
z-index: 8;


/* Active=5 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
isolation: isolate;

position: absolute;
width: 120px;
height: 8px;
left: 160px;
top: 16px;



/* Background */

position: absolute;
display: none;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/black */
background: #000000;
opacity: 0.2;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;
z-index: 6;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;
z-index: 7;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;
z-index: 8;


/* Active=6 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
isolation: isolate;

position: absolute;
width: 120px;
height: 8px;
left: 160px;
top: 40px;



/* Background */

position: absolute;
display: none;
width: 120px;
left: 0px;
top: 0%;
bottom: 0%;

/* TV Compose/black */
background: #000000;
opacity: 0.2;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;
z-index: 6;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;
z-index: 7;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;
z-index: 8;


/* Active=7 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
isolation: isolate;

position: absolute;
width: 120px;
height: 8px;
left: 160px;
top: 64px;



/* Background */

position: absolute;
display: none;
width: 120px;
height: 8px;
left: 0px;
top: 0px;

/* TV Compose/black */
background: #000000;
opacity: 0.2;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;
z-index: 6;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;
z-index: 7;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;
z-index: 8;


/* Active=8 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
isolation: isolate;

position: absolute;
width: 120px;
height: 8px;
left: 160px;
top: 88px;



/* Background */

position: absolute;
display: none;
height: 8px;
left: 0%;
right: 0%;
top: 0px;

/* TV Compose/black */
background: #000000;
opacity: 0.2;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;
z-index: 6;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;
z-index: 7;


/* Dot */

width: 8px;
height: 8px;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;
z-index: 8;


/* Progress bar */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 12px;

position: absolute;
width: 320px;
height: 95px;
left: 216px;
top: 296px;

/* TV Compose/ref/neutral/neutral10

token=md.ref.palette.neutral10
*/
background: #1F1F1F;
border-radius: 16px;


/* Progress=20% */

width: 288px;
height: 3px;

border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* bar */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
opacity: 0.2;
border-radius: 2px;


/* progress */

position: absolute;
left: 0%;
right: 80%;
top: 0%;
bottom: 0%;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
border-radius: 2px;


/* handle */

position: absolute;
visibility: hidden;
height: 16px;
left: 20%;
right: 79.99%;
top: calc(50% - 16px/2);



/* dot */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: calc(50% - 16px/2 - 0.01px);
top: calc(50% - 16px/2);

/* TV Compose/sys/dark/outline

Tv compose/sys/dark/outline
*/
background: #8E918F;
/* TV Compose/white */
border: 4px solid #FFFFFF;
/* TV Compose/dark/1 */
box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);


/* Progress=40% */

width: 288px;
height: 3px;

border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* bar */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
opacity: 0.2;
border-radius: 2px;


/* progress */

position: absolute;
left: 0%;
right: 60%;
top: 0%;
bottom: 0%;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
border-radius: 2px;


/* handle */

position: absolute;
visibility: hidden;
height: 16px;
left: 40%;
right: 60%;
top: calc(50% - 16px/2);



/* dot */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: calc(50% - 16px/2 - 0.01px);
top: calc(50% - 16px/2);

/* TV Compose/sys/dark/outline

Tv compose/sys/dark/outline
*/
background: #8E918F;
/* TV Compose/white */
border: 4px solid #FFFFFF;
/* TV Compose/dark/1 */
box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);


/* Progress=60% */

width: 288px;
height: 3px;

border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* bar */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
opacity: 0.2;
border-radius: 2px;


/* progress */

position: absolute;
left: 0%;
right: 40%;
top: 0%;
bottom: 0%;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
border-radius: 2px;


/* handle */

position: absolute;
visibility: hidden;
height: 16px;
left: 60.2%;
right: 39.79%;
top: calc(50% - 16px/2);



/* dot */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: calc(50% - 16px/2 - 0.01px);
top: calc(50% - 16px/2);

/* TV Compose/sys/dark/outline

Tv compose/sys/dark/outline
*/
background: #8E918F;
/* TV Compose/white */
border: 4px solid #FFFFFF;
/* TV Compose/dark/1 */
box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);


/* Progress=80% */

width: 288px;
height: 3px;

border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* bar */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
opacity: 0.2;
border-radius: 2px;


/* progress */

position: absolute;
left: 0%;
right: 20%;
top: 0%;
bottom: 0%;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
border-radius: 2px;


/* handle */

position: absolute;
visibility: hidden;
height: 16px;
left: 80%;
right: 19.99%;
top: calc(50% - 16px/2);



/* dot */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: calc(50% - 16px/2 - 0.01px);
top: calc(50% - 16px/2);

/* TV Compose/sys/dark/outline

Tv compose/sys/dark/outline
*/
background: #8E918F;
/* TV Compose/white */
border: 4px solid #FFFFFF;
/* TV Compose/dark/1 */
box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);


/* Progress=100% */

width: 288px;
height: 3px;

border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* bar */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
opacity: 0.2;
border-radius: 2px;


/* progress */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/ref/neutral/neutral100

token=md.ref.palette.neutral100
*/
background: #FFFFFF;
border-radius: 2px;


/* handle */

position: absolute;
visibility: hidden;
height: 16px;
left: 100%;
right: -0.01%;
top: calc(50% - 16px/2);



/* dot */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: calc(50% - 16px/2 - 0.01px);
top: calc(50% - 16px/2);

/* TV Compose/sys/dark/outline

Tv compose/sys/dark/outline
*/
background: #8E918F;
/* TV Compose/white */
border: 4px solid #FFFFFF;
/* TV Compose/dark/1 */
box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);


/* Icon frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 12px;

position: absolute;
width: 336px;
height: 110px;
left: 216px;
top: 423px;

/* TV Compose/ref/neutral/neutral10

token=md.ref.palette.neutral10
*/
background: #1F1F1F;
border-radius: 16px;


/* Size=XS */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 6px;
isolation: isolate;

width: 24px;
height: 24px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

/* TV Compose/sys/dark/surface

surface / on-surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #131314;
opacity: 0.8;
border-radius: 44px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon

Play, arrow,  control, controls, music, video
*/

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 16.67%;
top: 12.5%;
bottom: 12.5%;

/* TV Compose/sys/dark/on-surface

surface / on-surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #E3E3E3;


/* Size=S */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px;
isolation: isolate;

width: 32px;
height: 32px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

/* TV Compose/sys/dark/surface

surface / on-surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #131314;
opacity: 0.8;
border-radius: 44px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon

Play, arrow,  control, controls, music, video
*/

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 16.67%;
top: 12.5%;
bottom: 12.5%;

/* TV Compose/sys/dark/on-surface

surface / on-surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #E3E3E3;


/* Size=M */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px;
isolation: isolate;

width: 48px;
height: 48px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Background */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

/* TV Compose/sys/dark/surface

surface / on-surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #131314;
opacity: 0.8;
border-radius: 44px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon

Play, arrow,  control, controls, music, video
*/

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 16.67%;
top: 12.5%;
bottom: 12.5%;

/* TV Compose/sys/dark/on-surface

surface / on-surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #E3E3E3;


/* Size=L */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px;
isolation: isolate;

width: 64px;
height: 64px;

border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Background */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

/* TV Compose/sys/dark/surface

surface / on-surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #131314;
opacity: 0.8;
border-radius: 44px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon

Play, arrow,  control, controls, music, video
*/

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 16.67%;
top: 12.5%;
bottom: 12.5%;

/* TV Compose/sys/dark/on-surface

surface / on-surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #E3E3E3;


/* Size=XL */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
isolation: isolate;

width: 88px;
height: 88px;

border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Background */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

/* TV Compose/sys/dark/surface

surface / on-surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #131314;
opacity: 0.8;
border-radius: 44px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Icon

Play, arrow,  control, controls, music, video
*/

width: 48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 16.67%;
top: 12.5%;
bottom: 12.5%;

/* TV Compose/sys/dark/on-surface

surface / on-surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #E3E3E3;


/* Scrim */

position: absolute;
width: 40px;
height: 40px;
left: 216px;
top: 565px;

/* TV Compose/black */
background: #000000;
opacity: 0.6;
