/* Components */

width: 1088px;
height: 1256px;

/* TV Compose/black */
background: #000000;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* Disabled */

position: absolute;
width: 120px;
height: 20px;
left: 64px;
top: 872px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: 0.1px;

/* TV Compose/ref/neutral/neutral100 */
color: #FFFFFF;



/* Snack bar */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 16px;

position: absolute;
width: 324px;
height: 308px;
left: 64px;
top: 64px;

/* TV Compose/ref/neutral/neutral10

token=md.ref.palette.neutral10
*/
background: #1F1F1F;
border-radius: 16px;


/* Leading icon=False, Trailing icon=False */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 8px;
isolation: isolate;

width: 196px;
height: 44px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/inverse-surface

Tv compose/sys/dark/inverse-surface
*/
background: #E3E3E3;
/* TV Compose/dark/4 */
box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Label */

width: 164px;
height: 20px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.1px;

/* TV Compose/sys/dark/inverse-on-surface */
color: #303030;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Leading icon=True, Trailing icon=False */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px 12px 16px;
gap: 8px;
isolation: isolate;

width: 244px;
height: 56px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/inverse-surface

Tv compose/sys/dark/inverse-surface
*/
background: #E3E3E3;
/* TV Compose/dark/4 */
box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Leading icon */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px;
isolation: isolate;

width: 32px;
height: 32px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Background */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;
opacity: 0.8;
border-radius: 44px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* lock

info, i, information, alert, announcement, bubble
*/

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 8.33%;
right: 8.34%;
top: 8.33%;
bottom: 8.33%;

/* TV Compose/sys/dark/inverse-on-surface

Tv compose/sys/dark/inverse-on-surface
*/
background: #303030;


/* Label */

width: 164px;
height: 20px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.1px;

/* TV Compose/sys/dark/inverse-on-surface */
color: #303030;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Leading icon=False, Trailing icon=True */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px 12px 24px;
gap: 8px;
isolation: isolate;

width: 244px;
height: 56px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/inverse-surface

Tv compose/sys/dark/inverse-surface
*/
background: #E3E3E3;
/* TV Compose/dark/4 */
box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Label */

width: 164px;
height: 20px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.1px;

/* TV Compose/sys/dark/inverse-on-surface */
color: #303030;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Trailing icon */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px;
isolation: isolate;

width: 32px;
height: 32px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Background */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;
opacity: 0.8;
border-radius: 44px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* lock

info, i, information, alert, announcement, bubble
*/

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 8.33%;
right: 8.34%;
top: 8.33%;
bottom: 8.33%;

/* TV Compose/sys/dark/inverse-on-surface

Tv compose/sys/dark/inverse-on-surface
*/
background: #303030;


/* Leading icon=True, Trailing icon=True */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 8px;
isolation: isolate;

width: 276px;
height: 56px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* TV Compose/sys/dark/inverse-surface

Tv compose/sys/dark/inverse-surface
*/
background: #E3E3E3;
/* TV Compose/dark/4 */
box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Leading icon */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px;
isolation: isolate;

width: 32px;
height: 32px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Background */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;
opacity: 0.8;
border-radius: 44px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* lock

info, i, information, alert, announcement, bubble
*/

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 8.33%;
right: 8.34%;
top: 8.33%;
bottom: 8.33%;

/* TV Compose/sys/dark/inverse-on-surface

Tv compose/sys/dark/inverse-on-surface
*/
background: #303030;


/* Label */

width: 164px;
height: 20px;

/* TV Compose/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.1px;

/* TV Compose/sys/dark/inverse-on-surface */
color: #303030;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Trailing icon */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px;
isolation: isolate;

width: 32px;
height: 32px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Background */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

/* TV Compose/sys/dark/on-surface-variant

surface-variant / on-surface-variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass

*/
background: #C4C7C5;
opacity: 0.8;
border-radius: 44px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* lock

info, i, information, alert, announcement, bubble
*/

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 8.33%;
right: 8.34%;
top: 8.33%;
bottom: 8.33%;

/* TV Compose/sys/dark/inverse-on-surface

Tv compose/sys/dark/inverse-on-surface
*/
background: #303030;
